@import "@/styles/variables.scss";

.weight_form {
    padding: 15px 30px;
    border-radius: 15px;
    background: $white;
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 480px) {
    .weight_form {
        padding: 10px 20px;
        gap: 10px;
    }
}