@import "@/styles/variables.scss";

.weight_form_inputs_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    input {
        text-align: center;
        border-radius: 15px;
        padding: 15px;
        background: $dwhite;
        width: 290px;
        position: relative;
    }   
}