@import "@/styles/variables";

.adding_block_search {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &_input {
        position: relative;
        padding: 15px;
        input {
            padding: 15px;
            border-radius: 15px;
            background: $dwhite;
            width: 100%;
        }
        img {
            position: absolute;
            top: 30px;
            right: 30px;
        }
    }
}

.adding_block_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow-y: auto;
    &_item {
        padding: 15px 0;
        margin: 0 15px;
        border-bottom: 3px solid $dwhite;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    :last-child {
        border-bottom: none;
    }
    &_txt {
        padding: 15px;
        color: $red;
    }
    &_container {
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        &_load {
            border: 4px solid $dwhite;
            border-top: 4px solid $green;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
            margin-top: -20px;
        }
    }
}

@media (max-width: 480px) {
    .adding_block_search {
        &_input {
            padding: 10px;
            input {
                padding: 10px;
            }
            img {
                top: 20px;
                right: 20px;
                width: 17px;
                height: 17px;
            }
        }
    }
    
    .adding_block_list {
        &_item {
            padding: 10px 0;
            margin: 0 10px;
        }
        &_txt {
            padding: 10px;
        }
        &_container {
            height: 320px;
            &_load {
                width: 30px;
                height: 30px;
                margin-top: -15px;
            }
        }
    }
}

@media (max-width: 480px) {
    .adding_block_search {
        &_input {
            padding: 10px;
            input {
                padding: 10px;
            }
            img {
                top: 20px;
                right: 20px;
                width: 17px;
                height: 17px;
            }
        }
    }
    
    .adding_block_list {
        &_item {
            padding: 10px 0;
            margin: 0 10px;
        }
        &_txt {
            padding: 10px;
        }
        &_container {
            height: 320px;
            &_load {
                width: 30px;
                height: 30px;
                margin-top: -15px;
            }
        }
    }
}

@media (max-width: 360px) {
    .adding_block_list {
        &_container {
            height: 300px;
        }
    }
}
  