@import "@/styles/variables.scss";

.weight_chart_lines_sign {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: $white;
    border-radius: 10px;
}