@import "@/styles/variables.scss";

.weight_chart_lines {
    padding: 40px 0;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    canvas {
        position: absolute;
        z-index: 1;
    }
}

.top_label {
    background: $red;
    z-index: 2;
}

.bottom_label {
    background: $green;
    z-index: 2;
}
