@import "@/styles/variables.scss";

.diary_meals_item {
    display: flex;
    flex-direction: column;
    background: $dwhite;
    border-radius: 15px;
    box-shadow: $shadow;
    width: 100%;
    text-align: left;
    &_head {
        padding: 15px 30px;
        background: $white;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        &_name {
            display: flex;
            gap: 15px;
            align-items: center;
            &_load {
                border: 4px solid $dwhite;
                border-top: 4px solid $green;
                border-radius: 50%;
                width: 22px;
                height: 22px;
                animation: spin 1s linear infinite;
            }
        }
    }
    &_numbers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px 30px;
        span {
            width: 60px;
        }
        &_pfc {
            display: flex;
            gap: 40px;
        }
        &_calories {
            display: flex;
            gap: 15px;
            align-items: center;
            span {
                text-align: right;
            }
        }
        &_load {
            border: 4px solid $white;
            border-top: 4px solid $green;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            animation: spin 1s linear infinite;
        }
    }
    &_products {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 15px;
        gap: 15px
    }
}

@media (max-width: 768px) {
    .diary_meals_item {
        &_numbers {
            &_pfc {
                gap: 30px;
            }
        }
    }
}

@media (max-width: 480px) {
    .diary_meals_item {
        &_head {
            padding: 10px 20px;
            &_name {
                gap: 10px;
                &_load {
                    width: 17px;
                    height: 17px;
                }
                img {
                    width: 17px;
                    height: 17px;
                }
            }
        }
        &_numbers {
            padding: 10px 20px;
            span {
                width: 40px;
            }
            &_calories {
                gap: 10px;
            }
            &_load {
                width: 17px;
                height: 17px;
            }
        }
        &_products {
            padding: 10px;
            gap: 10px
        }
    }
}

@media (max-width: 360px) {
    .diary_meals_item {
        &_numbers {
            &_pfc {
                gap: 20px;
            }
        }
    }
}