@import "@/styles/variables.scss";

.diary_meals_item_products_item {
    padding: 15px;
    background: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    &_info {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        &_name {
            color: $txt-color;
        }
        &_weight {
            color: $green;
            text-align: right;
        }
        &_pfc {
            display: flex;
            gap: 40px;
            span {
                color: $grey;
                width: 60px;
            }
        }
        &_calories {
            color: $grey;
            width: 60px;
            text-align: right;
        }
    }
}

@media (max-width: 768px) {
    .diary_meals_item_products_item {
        &_info {
            &_pfc {
                gap: 30px;
            }
        }
    }
}

@media (max-width: 480px) {
    .diary_meals_item_products_item {
        padding: 10px;
        gap: 10px;
        &_info {
            gap: 10px;
            &_pfc {
                span {
                    width: 40px;
                }
            }
            &_calories {
                width: 40px;
            }
        }
        :last-child {
            flex-direction: column;
        }
    }
}

@media (max-width: 360px) {
    .diary_meals_item_products_item {
        &_info {
            &_pfc {
                gap: 20px;
            }
        }
    }
}