@import "@/styles/variables";

.notifications_list_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
    margin: 0 15px;
    border-bottom: 3px solid $dwhite;
    &_txt {
        color: $grey;
    }
}