@import "@/styles/variables.scss";

.arrow {
    border: none;
    outline: none;
    line-height: 0;
    cursor: pointer;
    background: none;
}

.arrow:hover {
    img {
        filter: $hvr-filter-from-black;
    }
}