.weight {
    padding: 40px 0;
    > div {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .weight {
        padding: 30px 0;
        > div {
            gap: 30px;
        }
    }
}

@media (max-width: 640px) {
    .weight {
        padding: 103px 0 102px;
    }
}

@media (max-width: 480px) {
    .weight {
        padding: 86px 0 87px;
    }
}

@media (max-width: 360px) {
    .weight {
        padding: 76px 0 77px;
        > div {
            gap: 20px;
        }
    }
}