@import "@/styles/variables.scss";

.diary_statistics_diagram {
    display: flex;
    padding: 15px 30px;
    background: $white;
    border-radius: 15px;
    box-shadow: $shadow;
    gap: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    &_labels {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        li {
            display: flex;
            align-items: center;
            :first-child {
                margin-right: 5px;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                border: 3px solid $dwhite;
            }
        }
        :nth-child(1) {
            :first-child {
                background: $blue;
            }
            
        }
        :nth-child(2) {
            :first-child {
                background: $magenta;
            }
            
        }
        :nth-child(3) {
            :first-child {
                background: $yellow;
            }
            
        }
        
    }
}

@media (max-width: 768px) {
    .diary_statistics_diagram {
        gap: 30px;
        &_labels {
            li {
                :first-child {
                    width: 22px;
                    height: 22px;
                }
                :nth-child(2) {
                    width: 80px;
                }
            }
            
        }
        canvas {
            width: 165px;
            height: 165px;
        }
    }
}

@media (max-width: 640px) {
    .diary_statistics_diagram {
        &_labels {
            li {
                :nth-child(2) {
                    width: auto;
                }
            }
            
        }
        canvas {
            width: 180px;
            height: 180px;
        }
    }
}

@media (max-width: 480px) {
    .diary_statistics_diagram {
        padding: 10px 20px;
        &_labels {
            li {
                :first-child {
                    width: 20px;
                    height: 20px;
                }
                :nth-child(2) {
                    width: 60px;
                }
            }
            
        }
        canvas {
            width: 165px;
            height: 165px;
        }
    }
}

@media (max-width: 360px) {
    .diary_statistics_diagram {
        gap: 20px;
        canvas {
            width: 150px;
            height: 150px;
        }
    }
}