$bg-color: #F6F5F3;
$txt-color: #001500;
$dwhite: #F0F0F0;
$white: #FEFEFE;
$green: #54AC5A;
$dgreen: #3F972E;
$red: #C13C3C;
$grey: #3A4F3A;
$blue: rgba(43, 122, 195, 1);
$magenta: rgba(209, 52, 139, 1);
$yellow: rgba(227, 170, 64, 1);

$shadow: 4px 4px 20px rgba(0, 21, 0, 0.25);
$invert-shadow: -4px -4px 20px rgba(0, 21, 0, 0.25);

$filter-from-black: invert(50%) sepia(84%) saturate(274%) hue-rotate(74deg) brightness(98%) contrast(94%);
