@import "@/styles/variables";

.reports_week {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-radius: 15px;
    background: $white;
    box-shadow: $shadow;
    font-weight: 700;
}

@media (max-width: 480px) {
    .reports_week {
        padding: 10px 20px;
    }
}