@import "@/styles/variables.scss";

.header {
    background: $dwhite;
    padding: 25px;
    box-shadow: $shadow;
    &_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_logo {
            width: 128px;
            height: 28px;
        }
        &_list {
            position: relative;
            display: flex;
            list-style: none;
            gap: 40px;
            a:hover {
                color: $green;
            }
        }
    }
}

.current_link {
    color: $green;
}

.current_link::after {
        margin-top: 5px;
        content:""; 
        float:left; 
        background:$green; 
        width:100%; 
        height:5px; 
        border-radius: 2px;
}

.activated_item {
    position: relative;
    padding: 10px;
    background: $white;
    border-radius: 15px 15px 0 0;
    z-index: 1;
    filter: drop-shadow($shadow);
    margin: -10px;
    .header_nav_list_item_btn {
        display: block;
        filter: $filter-from-black;
    }
}