@import "@/styles/variables";

.weight_changes {
    display: flex;
    flex-direction: column;
    background: $dwhite;
    border-radius: 15px;
    box-shadow: $shadow;
    button {
        margin: 15px;
        width: calc(100% - 30px);
    }
}