@import "@/styles/variables";

.weight_changes_list_item {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 3px solid $white;
    div {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}