@import "@/styles/variables";

.reports_statistics_chart {
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    gap: 10px;
    position: relative;
    > div {
        height: 200px;
    }
    &_days {
        display: flex;
        justify-content: space-between;
        text-align: center;
        list-style: none;
        li {
            width: 165px;
        }
    }
}

@media (max-width: 1280px) {
    .reports_statistics_chart {
        > div {
            height: 180px;
        }
        &_days {
            li {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .reports_statistics_chart {
        padding: 30px;
        > div {
            height: 150px;
        }
    }
}

@media (max-width: 480px) {
    .reports_statistics_chart {
        padding: 30px 20px;
        > div {
            height: 120px;
        }
    }
}

@media (max-width: 360px) {
    .reports_statistics_chart {
        padding: 30px 20px;
        > div {
            height: 100px;
        }
    }
}