@import "@/styles/variables";

.reports_statistics_calories {
    display: flex;
    justify-content: space-between;
    background: $white;
    border-radius: 15px;
    padding: 15px 30px;
    div {
        display: flex;
        gap: 40px;
    }
}