.add_btn {
    border: none;
    line-height: 0;
    background: none;
    outline: none;
    cursor: pointer;
}

@media (max-width: 480px) {
    .add_btn {
        img {
            width: 15px;
            height: 15px;
        }
    }
}