.expand_btn {
    border: none;
    line-height: 0;
    background: none;
    outline: none;
    cursor: pointer;
}

.activated_btn {
    transform: rotate(180deg);
}

@media (max-width: 480px) {
    .expand_btn {
        img {
            width: 13px;
            height: 13px;
        }
    }
}